

::-webkit-scrollbar {
    width: 4px;
  }
  
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 4px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: grey;
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: grey;
  } 

/* 
  the above CSS styling provides a horizontal scroll bar */

  .image-poster {
    height:400px;    
    overflow:hidden;
    position:relative;
    width: 90%;
    padding: 10px;
    margin-left:10px;

    
} 

.dispNone{
    display: none;
    padding:13px;
}



 .menuList{

    display:flex;
    flex-direction: column;
    width:120px;
    float: right;
    margin-right: 3px;

 }



.dispBlock{
    display: block;
    padding:13px;
}

.parentGridContainer{
    border-width:5px;  
    margin: 15px;
    border-style:groove;

}
.flex-container {
    display: flex;
     margin-left:10%; 
}

.flex-container>div {
    margin: 16px;
}


.right {
    padding-top: 20px;
    width: 24%;
}

@media (max-width: 992px) {
    .flex-container {
        flex-direction: column;
    }
    .left {
        width: 100%;
    }
    .right {
        width: 90%;
    }
    .released-movie-grid-item {
        margin: 8px;
    }
}